<footer class="footer">
	<div class="footer-row">
		<ul class="footer__social-list social">
			<li class="social__list-item">
				<a href="#" class="social-link">
					<span class="vissualy-hidden">Вконтакте</span>
				</a>
			</li>
			<li class="social__list-item">
				<a href="#" class="social-link">
					<span class="vissualy-hidden">Ютуб</span>
				</a>
			</li>
			<li class="social__list-item">
				<a href="#" class="social-link">
					<span class="vissualy-hidden">Телеграм</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-row">
		<div class="footer-copyright">
			<a href="https://htmlacademy.ru" class="htmlacademy">Разработано <span class="htmlacademy-icon">HTML academy</span></a>
		</div>
	</div>
</footer>
