<footer class="footer">
		<div class="footer-row">
			<ul class="footer__social-list">
				<li class="social__list-item">
					<a href="#" class="social-link">
						<svg class="social-icon" width="26" height="17"></svg>
						<span class="vissualy-hidden">Вконтакте</span>
					</a>
				</li>
				<li class="social__list-item">
					<a href="#" class="social-link">
						<svg class="social-icon" width="26" height="17"></svg>
						<span class="vissualy-hidden">Ютуб</span>
					</a>
				</li>
				<li class="social__list-item">
					<a href="#" class="social-link">
						<svg class="social-icon" width="26" height="17"></svg>
						<span class="vissualy-hidden">Телеграм</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-row">
			<div class="footer-copyright">
				<a href="https://htmlacademy.ru" class="htmlacademy">
					Разработано
					<svg class="htmlacademy-icon" width="27" height="34"></svg>
				</a>
			</div>
		</div>
	</footer>
