{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
	<section class="card">
		<h2 class="title">Каталог товаров</h2>
		<ul class="card-list">
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
						<h3 class="card-item__title">Зайчик-попрыгайчик</h3>
					</a>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Рост 30 см, вес 200 г</p>
						<strong class="card-item__price">1 200 руб.</strong>
						<a class="card-item__button button" href="#">
							<span class="visually-hidden">Добавить в корзину</span>
						</a>
					</div>
				</article>
			</li>
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
						<h3 class="card-item__title">Корзинка для белья</h3>
					</a>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Диаметр 15 см, высота 10 см</p>
						<strong class="card-item__price">690 руб.</strong>
						<a class="card-item__button button" href="#">
							<span class="visually-hidden">Добавить в корзину</span>
						</a>
					</div>
				</article>
			</li>
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
						<h3 class="card-item__title">Большая корзинка для игрушек</h3>
					</a>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Диаметр 30 см, высота 30 см</p>
						<strong class="card-item__price">1 500 руб.</strong>
						<a class="card-item__button button" href="#">
							<span class="visually-hidden">Добавить в корзину</span>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</section>
	<aside class="backstage">
		<div class="backstage__container">
			<h3 class="backstage__title backstage__title--icon">Процесс производства</h3>
			<img class="backstage__image-preview" src="./img/video-preview.jpg" alt="заставка к видео.">
			<a href="#" class="backstage__link-video"><span class="visually-hidden">Перейти к видео</span></a>
			<p class="backstage__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
			<a href="#" class="backstage__button button">Сделать заказ</a>
		</div>
	</aside>
</main>
{% endblock %}
