{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
	<section class="card">
		<h2 class="title">Каталог товаров</h2>
		<ul class="card-list">
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
					</a>
					<h3 class="card-item__title">Зайчик-попрыгайчик</h3>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Рост 30 см, вес 200 г</p>
						<strong class="card-item__price">1 200 руб.</strong>
						<button class="card-item__button" type="button">
							<span class="visually-hidden">Добавить в корзину.</span>
						</button>
					</div>
				</article>
			</li>
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
					</a>
					<h3 class="card-item__title">Корзинка для белья</h3>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Диаметр 15 см, высота 10 см</p>
						<strong class="card-item__price">690 руб.</strong>
						<button class="card-item__button" type="button">
							<span class="visually-hidden">Добавить в корзину.</span>
						</button>
					</div>
				</article>
			</li>
			<li class="card-list__item">
				<article class="card-item">
					<a class="card-item__link" href="#">
						<img class="card-item__img" src="#" alt="" width="195" height="286">
					</a>
					<h3 class="card-item__title">Большая корзинка для игрушек</h3>
					<div class="card-item__footer">
						<p class="card-item__characteristics">Диаметр 30 см, высота 30 см</p>
						<strong class="card-item__price">1 500 руб.</strong>
						<button class="card-item__button" type="button">
							<span class="visually-hidden">Добавить в корзину.</span>
						</button>
					</div>
				</article>
			</li>
		</ul>
	</section>
	<aside class="backstage">
		<div class="backstage__container">
			<h3 class="backstage__title backstage__title--icon">Процесс производства</h3>
			<iframe width="260" height="150" src="https://www.youtube.com/embed/dJzGwFpdvXE" title="YouTube video player"></iframe>
			<p class="backstage__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
			<button class="button">СДелать заказ</button>
		</div>
	</aside>
</main>
{% endblock %}
