{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
	<section class="banner">
		<h1 class="title main-title">Милые штуки ручной работы для дома</h1>
		<div class="banner_action">
			<a href="" class="link-site link-site--primary">
				<p class="link-site_text">Предметы интерьера</p>
			</a>
			<img class="link-site_icon" src="#" alt="Светильник.">
		</div>
		<div class="banner_action">
			<a href="" class="link-site link-site--secondary">
				<p class="link-site__text">Детские игрушки</p>
			</a>
			<img class="link-site__icon" src="#" alt="Фигура из лего.">
		</div>
	</section>
	<section class="featured">
		<div class="featured__card">
			<h2 class="title">Вязаные корзинки</h2>
			<p class="featured__action-text">Товар недели</p>
			<p class="featured__description">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.</p>
			<dl class="featured__list">
				<dt class="featured__order">Цвет:</dt>
				<dd class="featured__indicator">тиффани/серый</dd>
				<dt class="featured__order">Диаметр</dt>
				<dd class="featured__indicator">25 см</dd>
				<dt class="featured__order">Высота:</dt>
				<dd class="featured__indicator">15 см</dd>
			</dl>
			<img class="featured__image" src="#" alt="Вязаные корзинки разноцветные." width="260" height="315">
		</div>
		<b class="featured__price">Цена: 990 руб.</b>
		<button class="button" type="button">Заказать</button>
	</section>
	<section class="about">
		<h2 class="title">Коротко о нас:</h2>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Экологически чистые материалы</p>
		</div>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Скандинавский стиль по российской цене</p>
		</div>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Увеличивает лайки на фотографиях</p>
		</div>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Связано вручную с любовью и умилением</p>
		</div>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Поддержка отечественного производителя</p>
		</div>
		<div class="about__advantage">
			<img class="about__icon" src="#" alt="">
			<p class="about__advantage-text">Поставляется в подарочной упаковке</p>
		</div>
	</section>
	<section class="reviews">
		<h2 class="title">Отзывы</h2>
		<ol class="reviews__slider">
			<li class="slider__list-item">
				<blockquote class="blockquote">
					<p class="blockquote__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</p>
					<cite class="blockquote__autor">Анастасия Красильникова</cite>
					<a href="#" class="blockquote__autor-contacts">@misssssiskras</a>
				</blockquote>
			</li>
			<li class="slider__list-item">
				<blockquote class="blockquote">
					<p class="blockquote__text">Я сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набираютбольше лайков!
					</p>
					<cite class="blockquote__autor">Екатерина Красильникова</cite>
					<a href="#" class="blockquote__autor-contacts">@misssssiskras2</a>
				</blockquote>
			</li>
			<li class="slider__list-item">
				<blockquote class="blockquote">
					<p class="blockquote__text">Я двоюродная сестра молодой мамы, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
					</p>
					<cite class="blockquote__autor">Елена Красильникова</cite>
					<a href="#" class="blockquote__autor-contacts">@misssssiskras3</a>
				</blockquote>
			</li>
		</ol>
		<ol class="reviews__slider-pagination">
			<li class="slider-pagination__item">
				<button class="slider-pagination__point">Влево</button>
			</li>
			<li class="slider-pagination__item">
				<button class="slider-pagination__point">Вправо</button>
			</li>
		</ol>
		<button class="button" type="button">Написать</button>
	</section>
	<section class="contacts">
		<h2 class="title">
			Контакты
		</h2>
		<address class="contacts">
			<div class="contacts-column">
				<p class="contacts__address-text">e-mail:</p>
				<a class="contacts__email-link contacts__email-link--active" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
			</div>
			<div class="contacts-column">
				<p class="contacts__address-text">адрес:</p>
				<p class="contacts__address-text">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</p>
			</div>
		</address>
		<!-- <iframe src="#" frameborder="0">
			ЗДЕСЬ БУДЕТ КАРТА ПОКА НЕ ЗНАЮ КАК СДЕЛАТЬ)
		</iframe> -->
		<button class="button" type="button">Напишите нам</button>
	</section>
</main>
{% endblock %}
